<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-5 item text">
          <h3>Fabbag.com</h3>
          <p>
            Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus
            ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique
            lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.
          </p>
        </div>
        <div class="col-md-1 item text"></div>
        <div class="col-sm-6 col-md-3 item">
          <h3>What We Do</h3>
          <ul>
            <li><a href="#">Our Company</a></li>
            <li><a href="#">Our Suppliers</a></li>
            <li><a href="#">Advertise With Us</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="#">How to make an order</a></li>
            <li><a href="#">Our pricing</a></li>
            <li><a href="#">Support page</a></li>
            <li><a href="#">Getting started</a></li>
          </ul>
        </div>
        <div class="col item social">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item">
              <a href="javascript:void();"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void();" target="_blank"
                ><i class="fa fa-envelope"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <p class="copyright">Company name © 2021</p>
    </div>
  </footer>
</div>
