<br />

<center>
  <h1>SUBSCRIPTION</h1>
</center>

<section class="purchase" id="buy-now">
  <div class="container">
    <ul>
      <li>
        <a href="/products/61538d3f5a247e5988d5c2c7">
          <strong
            >1 MONTH <br />
            SUBSCRIPTION</strong
          >
          <span class="purchase-description"
            >Rs. 599.00 <br />
            / per month</span
          >
          <span class="purchase-description"
            >ONE TIME PAYMENT <br />
            Rs. 599.00</span
          >

          <span class="purchase-button">Buy Now</span>
        </a>
      </li>

      <li>
        <a href="/products/61538d3f5a247e5988d5c2c7">
          <strong
            >3 MONTH <br />
            SUBSCRIPTION</strong
          >
          <span class="purchase-description"
            >Rs. 533.00 <br />
            / per month</span
          >
          <span class="purchase-description"
            >ONE TIME PAYMENT <br />
            Rs. 1,599.00</span
          >

          <span class="purchase-button">Buy Now</span>
        </a>
      </li>

      <li>
        <a href="/products/61538d3f5a247e5988d5c2c7">
          <strong
            >6 MONTH <br />
            SUBSCRIPTION</strong
          >
          <span class="purchase-description"
            >Rs. 483.00 <br />
            / per month</span
          >
          <span class="purchase-description"
            >ONE TIME PAYMENT <br />
            Rs. 2,899.00</span
          >

          <span class="purchase-button">Buy Now</span>
        </a>
      </li>

      <li>
        <a href="/products/61538d3f5a247e5988d5c2c7">
          <strong
            >12 MONTH <br />
            SUBSCRIPTION</strong
          >
          <span class="purchase-description"
            >Rs. 416.00 <br />
            / per month</span
          >
          <span class="purchase-description"
            >ONE TIME PAYMENT <br />
            Rs. 4,999.00</span
          >

          <span class="purchase-button">Buy Now</span>
        </a>
      </li>
    </ul>
  </div>
</section>
