<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="css/home.css" />
    <!-- Bootstrap CSS -->
    <%- include("partials/boilerPlateCss.ejs") %>

    <style></style>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <!-- _____________________________________________________ -->
    <!-- navbar start  -->

    <!-- navbar search popup ends  -->

    <!-- slider code starts  -->
    <!-- _____________________________________________________ -->

    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#">
            <img
              src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/Homepage-Banner-Skincare--3_2048x.png?v=1631165190"
              alt="Los Angeles"
              width="100%"
            />
          </a>
        </div>
        <div class="carousel-item">
          <a href="#">
            <img
              src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/Homepage-Banner-Skincare-5_2048x.png?v=1631337593"
              alt="Chicago"
              width="100%"
            />
          </a>
        </div>
        <div class="carousel-item">
          <a href="#">
            <img
              src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/Homepage-Banner-Skincare_9e8aeb6e-a40a-40ea-baef-b48024ee5851_2048x.png?v=1630819018"
              alt="New York"
              width="100%"
            />
          </a>
        </div>
        <div class="carousel-item">
          <a href="#">
            <img
              src="https://cdn.shopify.com/s/files/1/0052/7551/6995/files/Homepage-Banner-Skincare-4_9ba9cd84-0122-4ddf-9f76-726bee694459_2048x.png?v=1631337216"
              alt="New York"
              width="100%"
            />
          </a>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

    <!-- slider code ends   -->
    <!-- _____________________________________________________ -->

    <!-- what's in the bag carousel starts  -->
    <!-- _____________________________________________________ -->
  </body>
</html>
<%- include("partials/boilerPlateJs.ejs") %>

<script src="scripts/home.js"></script>
